<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd" >
   <!--加载properties文件-->
   <context:property-placeholder location="jdbc.properties"></context:property-placeholder>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
     </bean>

<!--
    <bean id="userDao" class="UserDaoImpl" scope="singleton"  init-method="init" destroy-method="destory"></bean>
-->

<!--
    <bean id="userDao" class="StaticFactory"  factory-method="getUserDao"></bean>
-->

<!--
    <bean id="factory" class="DynamicFactory" ></bean>
    <bean id="userDao" factory-bean="factory" factory-method="getUserDao" ></bean>-->
        <bean id="userDao" class="com.lp.springxml.dao.impl.UserDaoImpl" scope="singleton" init-method="init" destroy-method="destory"></bean>
       <!-- <bean id="userService" class="UserServiceImpl" scope="singleton" >
                <property name="userDao" ref="userDao"></property>

        </bean>-->


    <bean id="userService" class="com.lp.springxml.service.impl.UserServiceImpl" scope="singleton" >
           <!--  <constructor-arg name="userDao" ref="userDao"/>-->
           <!--  <constructor-arg name="age" value="32"></constructor-arg>
             <constructor-arg name="name" value="abcde"></constructor-arg>-->
                <property name="list">
                        <list>
                                <value>aa</value>
                                <value>bb</value>
                                <value>cc</value>
                        </list>
                </property>

            <property name="map">
                <map>
                    <entry key="user1" value-ref="user1"></entry>
                    <entry key="user2" value-ref="user2"></entry>
                </map>
            </property>

            <property name="pros">
                <props>
                    <prop key="abc" >dddd</prop>
                </props>
            </property>
        </bean>

     <bean id="user1" class="com.lp.springxml.model.User">
         <property name="name" value="张三"></property>
         <property name="addr" value="上海"></property>
     </bean>
     <bean id="user2" class="com.lp.springxml.model.User">
         <property name="name" value="李四"></property>
         <property name="addr" value="北京"></property>
     </bean>

    <import resource="applicationContext-user.xml"/>
    <import resource="applicationContext-product.xml"/>
</beans>